.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
  position: fixed;
  height: 100vh;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ffffff;
  padding: 4px 12px;
  margin: 12px 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

.sidebar a.active{
  background-color: #48441f;
}

.logo-container{
  border-bottom: 1px solid #5e5a5a;
  height: 52px;
}

.logo-buyble {
  margin: 12px 0px;
  width: 130px;
}

.profile{
  padding: 20px 30px;
  display: inline-flex;
  color: #ffffff;
}

.profile-picture{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-info{
  font-size: 12px;
  padding-left: 12px;
}

.profile-name{
  font-weight: 900;
}

.sidebar-category{
  padding: 5px 0 5px 15px;
  background-color: #5e5a5a;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
}

.topbar{
  height: 52px;
  margin-left: 200px;
  padding: 0 0 0 120px;
  background-color: #ffffff;
  border-bottom: 1px solid #5e5a5a;
}

.searchbar-container input{
  height: 36px;
  margin: 6px 0;
  border-radius: 15px 0 0 15px;
  background-color: #f5f5f5;
  color: #808080;
  border: 0;
  padding-left: 40px;
  font-weight: 400;
}

.searchbar-container i{
  position: absolute;
  top: 16px;
  padding-left: 10px;
}

.searchbar-container select{
  height: 36px;
  margin: 6px 0;
  margin-left: -4px;
  border-radius: 0 15px 15px 0;
  background-color: #f5f5f5;
  border: 0;
  padding-left: 40px;
  font-weight: 400;
  color: #808080;
  padding-right: 5px;
  width: 140px;
}

*:focus {
  outline: none;
}

.pl-30{
  padding-left: 30px !important;
}

.pl-20{
  padding-left: 20px !important;
}

.pt-0{
  padding-top: 0;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  margin-left: 200px;
  height: 100%;
  min-height: calc(100vh - 52px);
  background-color: #f5f5f5;
  padding: 100px 120px;
}

.smallHeader{
  font-size: 15px;
  font-weight: 900;
  height: 12px;
}

.bigHeader{
  font-size: 36px;
  font-weight: 900;
}

.header{
  margin: 30px 0 25px 0;
  letter-spacing: 2px;
  color: #a5a5a5;
}

.canvas-logo{
  width: fit-content;
  padding: 18px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.canvas-logo img{
  height: 80px;
}

.checked {
  color: orange;
}

.shop-info{
  display: flex;
}

.company-info{
  margin-left: 16px;
}

.company-name-rating{
  font-size: 12px;
  font-weight: 900;
  display: block;
  border-bottom: 1px solid #cccccc;
}

.chart-timestamp > div{
  padding: 7px 11px;
  border-radius: 10px;
  color: #a5a5a5;
  font-size: 12px;
}

.chart-timestamp > div.active{
  background-color: #b9b9b9;
  color: #fff;
}

.percentage-info{
  position: absolute;
  top: 55px;
  left: 55px;
  text-align: center;
  color: #6fafbb;
  font-weight: 900;
}

.prec{
  font-size: 30px;
}

.inner-circle{
  height: 140px;
  width: 140px;
  border: 3px solid #6fafbb;
  position: relative;
  top: -160px;
  left: 19px;
  border-radius: 100%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-progress {
  stroke: #6fafbb;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 30px;
  font-weight: bold;
  fill: #6fafbb;
}

.insight-container{
  background-color: #dae7e9;
  padding: 10px;
}

.insight-container i{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 24px;
}

.insight-container .subheader{
  color: #555555;
  font-size: 18px;
  font-weight: 500;
}

.insight-container .header{
  margin: 0;
  font-size: 36px;
  color: #78b3bf;
  font-weight: 900;
}

.filter-icon{
  top: 130px !important;
}

.img-coupon{
  width: 44px;
  height: 30px;
}

.game-images{
  border: 1px solid #000;
  border-radius: 0px;
  display: block;
  margin: 0 auto;
}

.game-button{
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 0px;
  color: #000;
}

.input-label{
  margin-bottom: 8px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #000;
}

.cc-input{
  margin-bottom: 24px;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.couponContainer{
  width: 100%;
  background-color: #e7e7ff;
  min-height: 200px;
  font-family: arial;
  padding: 38px 40px;
  text-align: center;
}

.couponText{
  font-size: 16px;
}

.couponName{
  font-size: 14px;
}

.couponDetails{
  font-size: 12px;
}

.bg-white{
  background-color: #fff;
}

.border-gray{
  border: 1px solid #a5a5a5;
}

.campaign-name{
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 400;
}

.active-tag{
  background-color: #b7f7a0;
  border-radius: 5px;
  color: #77b46c;
  font-weight: 700;
}

.inactive-tag{
  background-color: #e57373;
  border-radius: 5px;
  color: #d50000;
  font-weight: 700;
}

.colorpicker{
  position: absolute;
  right: 18px;
  margin-top: 5px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: #9a9a9a;
  display: inline-block;
  letter-spacing: 0;
  padding: 2px 10px;
  border-radius: 20px;
  margin-bottom: 0;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #000;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.bg-light-blue{
  background-color: #0090b8;
}

.bg-green{
  background-color: #01b90a;
}

.buttons-div button{
  width: 140px;
  border-radius: 10px;
  font-weight: 700;
}

.buttons-div button:first-child{
  margin-right: 0.5em
}

.logout-button{
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  height: 52px;
  padding: 13px 25px;
  border-left: 1px solid #5e5a5a;
  cursor: pointer;
  font-weight: 500;
}

.celebrationColorInput{
  position: absolute;
  margin-left: 16px;
  width: 100px;
  z-index: 999;
}

.couponInput{
  width: 65%;
}

.first-col-negative-margin{
  margin-left: -1.25em;
}

.first-col-negative-margin-reward{
  margin-left: -0.25em;
}

.download-table-xls-button{
  position: absolute;
  bottom: 8px;
  right: 0;
  background-color: transparent;
  border: none;
  font-weight: 700;
  letter-spacing: 3px;
}

.always-front{
  z-index: 999;
}

.d-none{
  display: none;
}

.text-blue{
  color: #007bff;
}

.pr-40{
  padding-right: 40px;
}

.mt-minus-5{
  margin-top: -5px;
}

.text-12{
  font-size: 12px;
}

.text-14{
  font-size: 14px;
}

.text-16{
  font-size: 16px;
}

.text-gray{
  color: #a5a5a5;
}

.text-tosca{
  color: #6fafbb;
}

.flex-direction-column{
  flex-direction: column;
}

.mw-fit{
  max-width: fit-content;
}

.w-100{
  width: 100%;
}

.c-pointer{
  cursor: pointer;
}

.p-absolute{
  position: absolute;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 767px) {
  .topbar {
    margin-left: 0;
    padding: 0;
    display: flex;
  }
  .searchbar-container{
    width: fit-content;
    margin: 0 auto;
  }
  .searchbar-container i {
    position: absolute;
    top: 338px;
    padding-left: 15px;
  }
  .searchbar-container input{
    width: 130px;
  }
  .searchbar-container select{
    width: 120px;
    padding-left: 20px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar-category{
    padding: 5px 0;
    text-align: center;
  }
  .logo-buyble{
    margin: 0 auto;
    display: block;
    padding: 12px 0 !important;
  }
  .profile{
    padding: 20px 0;
    margin: 0 auto;
    margin-left: calc(50vw - 65px);
    width: 130px;
  }
  div.content {
    margin-left: 0;
    padding: 50px 60px;
  }

  .shop-info{
    display: block;
  }

  .canvas-logo{
    margin: 0 auto;
  }

  .company-info{
    margin: 20px 0;
    text-align: center;
  }

  .company-numbers{
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .topbar {
    height: 100px;
    display: inherit;
  }
  .logout-button{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border: none;
  }
  .download-table-xls-button{
    position: relative;
    bottom: 0;
    margin-top: 8px;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}
